{% extends 'products/base.html'%} {% block content%}
<br></br>

<div class = "container">
  <h1 style="font-weight: bolder; font-family: 'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;" class= "text-center">ITEMS IN STOCK</h1>
  <br>

  <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow',
   Arial, sans-serif;" class = "container">
    <form action = "" method = "GET">
      {{product_filter.form }} 
      <input style="border-radius: 25px; color: rgb(161, 161, 219);"
      type = "submit"
      value = "Search Products"
      class="btn btn-secondary btn"/>
    </form>
  </div>

  <br>
  <table  style="font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow',
  Arial, sans-serif" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope = "col">Detail</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr style="color: rgb(39, 82, 82);">    
        <td>{{product.category_name}}</td>
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>UGX{{product.unit_price}}</td>
        <td><a href="{% url 'product_detail' product.id %}"
              ><input
                type="submit"
                value="BUY ITEM"
                class="btn btn-secondary btn"
                type="button"
                style="color: rgb(13, 192, 192);"

            /></a></td>
            <td><a href="{% url 'delete_item' product.id %}"
              ><input
                type="submit"
                value="DELETE ITEM"
                class="btn btn-secondary btn"
                type="button"
                style="color: rgb(13, 192, 192)"
            /></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}